<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <h4>Skills</h4>
      </mat-card-title>
      <mat-card-subtitle>
        <br>
        <h5>BACKEND</h5>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row  justify-content-center">
        <div class="col-md-9">
          <ul class="list-group">
            <li class="list-group-item">JAVA, Spring boot, Microservicios, C/C++, C#, PHP, Python, Nodejs, Docker</li>
          </ul>
        </div>
      </div>
    </mat-card-content>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-subtitle>
        <br>
        <h5> FRONTEND</h5>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row align-items-center justify-content-center">
        <div class="col-md-9">
          <ul class="list-group">
            <li class="list-group-item">Angular, Material Design, Bootstrap, CSS, HTML, JS, </li>
          </ul>
        </div>
      </div>
    </mat-card-content>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-subtitle>
        <br>
        <h5> DATABASE</h5>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row align-items-center justify-content-center">
        <div class="col-md-9">
          <ul class="list-group">
            <li class="list-group-item">SQL SERVER.</li>
            <li class="list-group-item">Mysql</li>
          </ul>
        </div>
      </div>
    </mat-card-content>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-subtitle>
          <br>
          <h5> Tecnologias de Google</h5>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row align-items-center justify-content-center">
          <div class="col-md-9">
            <ul class="list-group">
              <li class="list-group-item">App Maker, Cloud Platform, API's de Google, App Engine, Compute Engine,
                  Big query, Datastorage, Firebase, spanner, firestore, kubernets</li>
              
            </ul>
          </div>
        </div>
      </mat-card-content>
  </mat-card>
  <br>