<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <h4>Experiencia</h4>
    </mat-card-title>
    <mat-card-subtitle>
      <br>
      <h5> Consultor en CAPGEMIMI (8 meses)</h5>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-9">
        <ul class="list-group">
          <li class="list-group-item">Desarrollo de proyectos para GNP</li>
          <li class="list-group-item">Desarrollo y administración de proyectos en Google Cloud Platform</li>
          <li class="list-group-item">Generar reportes con BigQuery</li>
          <li class="list-group-item">Desarrollo de aplicaciones web con AppMaker de Google</li>
        </ul>
      </div>
    </div>
  </mat-card-content>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image2"></div>
    <mat-card-subtitle>
      <br>
      <h5> Programador con tecnologías Google en GETECSA (4 meses)</h5>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-9">
        <ul class="list-group">
          <li class="list-group-item">Desarrollo de Aplicaciones web con Angular, Jquery, JAVA, Python, Spanner,
            Firebase y Mysql en el App
            Engine y datastorage de Google para GNP</li>
        </ul>
      </div>
    </div>
  </mat-card-content>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image2"></div>
    <mat-card-subtitle>
      <br>
      <h5> Servicio Social en CIC - IPN (6 meses)</h5>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-9">
        <ul class="list-group">
          <li class="list-group-item">Investigación de los algoritmos bio-inspirados.</li>
          <li class="list-group-item">Investigación de redes Peer to Peer.</li>
          <li class="list-group-item">Realización de simulaciones en sumo.</li>
          <li class="list-group-item">Realización de simulaciones en MATLAB.</li>
        </ul>
      </div>
    </div>
  </mat-card-content>
  <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-subtitle>
        <br>
        <h5> Becario Java en PRB (1 año)</h5>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row align-items-center justify-content-center">
        <div class="col-md-9">
          <ul class="list-group">
            <li class="list-group-item">Desarrollar nuevas funciones y mantenimiento en el sistema.</li>
            <li class="list-group-item">Desarrollo de aplicaciones web con JAVA (JSP, Servlets) usando el IDE Netbeans y
                el framework GWT.</li>
            <li class="list-group-item">Desarrollo de scripts (Store procedures, funciones, tablas temporales, consultas) en
                SQL Server.</li>
          </ul>
        </div>
      </div>
    </mat-card-content>
</mat-card>
<br>